.git
.ipynb_checkpoints
notebooks
unused
Dockerfile
.DS_Store
.gitignore
README.md
env.*
devops
node_modules
.nyc_output
json-server
__tools__
docker-compose.yml

# To prevent storing dev/temporary container data
*.csv
tmp

